.Furniture > div:nth-child(2){
    display: flex;
    margin-top: 3.3%;
}

/* Content */
.Furniture > div:nth-child(2) > div:nth-child(2){
    width: 85%;
    height: 93vh;
    right: 0;
}

.Furniture > div:nth-child(2) > div:nth-child(2) > div:nth-child(1){
    margin-left: 2%;
    margin-top: 1%;
}

.Furniture > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) h2{
    color: #A1662F;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Furniture > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) span{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4d2a09;
}

.Furniture > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    width: 99%;
    height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}
.furniture-card {
    width: 30%;
    height: 400px;
    box-shadow: 0 0 15px #000;
    margin: 25px 20px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: 1s;
}

.furniture-card:hover{
    margin-top: 15px;
}


.furniture-card img{
    width: 100%;
    height: 60%;
}

.furniture-card > div:nth-child(2){
    height: 40%;
}

.furniture-card > div:nth-child(2) > div:nth-child(1){
    height: 65%;
    color: #4d2a09;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
}

.furniture-card > div:nth-child(2) > div:nth-child(2){
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.furniture-card > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    font-size: 20px;
    color: #A1662F;
    margin-top: 5px;
}

.furniture-card > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) svg{
    height: auto;
    width: auto;   
}

.furniture-card > div:nth-child(2) > div:nth-child(2) > div:nth-child(1){
    padding: 5px 15px;
    border-radius: 25px;
    color: #A1662F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}




/* Menu List */

.Furniture > div:nth-child(2) > div:nth-child(1){
    width: 15%;
    height: 93vh;
    display: flex;
}

.Furniture > div:nth-child(2) > div:nth-child(1) > div{
    background-color: #A1662F;
    width: 90%;
    height: 95%;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
}

.Furniture > div:nth-child(2) > div:nth-child(1) > div > h2{
    margin-top: 15px;
    text-align: center;
    color: #4d2a09;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Furniture > div:nth-child(2) > div:nth-child(1) > div ul{
    margin-top: 25px;
    
}

.Furniture > div:nth-child(2) > div:nth-child(1) > div ul li{
    list-style: none;
    margin: 15px 0 5px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: #4d2a09;
    cursor: pointer;
    transition: 1s;
    margin-left: 5px;
}
.Furniture > div:nth-child(2) > div:nth-child(1) > div ul li:hover{
    color: #6c4826;
}


.Furniture > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(2){
    height: 75%;
}

.Furniture > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3){
    /* height: 15%; */
    display: flex;
}

.Furniture > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) > div > img{
    width: 20px;
    height: 20px;
}

.Furniture > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) > div{
    font-size: 20px;
    /* height: 35px; */
    padding: 10px;
    border-radius: 50px;
    background-color: #4d2a09;
    margin: 0 5px;
    display: inline-flex;
    margin: 0 auto;
    cursor: pointer;
    transition: 1s;
}


.Furniture > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) > div:hover{
    background-color: #6c4826;
}

.Furniture > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(4){
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
    color: #4d2a09;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



@media (max-width: 1440px){
    .Furniture > div:nth-child(2) > div:nth-child(1){
        width: 20%;
    }

    .Furniture > div:nth-child(2) > div:nth-child(2){
        width: 80%;
    }

    .furniture-card{
        width: 28.5%;
    }

    .furniture-card > div:nth-child(2) > div:nth-child(2){
        width: 85%;
    }
}

@media (max-width: 1054px){

    .furniture-card{
        width: 28%;
    }

    .furniture-card > div:nth-child(2) > div:nth-child(2){
        width: 90%;
    }
}

@media (max-width: 956px){

    .furniture-card{
        width: 44%;
    }
}

@media (max-width: 851.5px){
    .Furniture > div:nth-child(2) > div:nth-child(1){
        width: 30%;
    }

    .Furniture > div:nth-child(2) > div:nth-child(2){
        width: 70%;
    }

    .furniture-card{
        width: 90%;
    }

    .furniture-card > div:nth-child(2) > div:nth-child(2){
        width: 60%;
    }
}



@media (max-width: 430px){

    .Furniture > div:nth-child(2){
        display: block;
    }

    .Furniture > div:nth-child(2) > div:nth-child(1){
        width: 100%;
        height: auto;
        margin-top: 15%;

    }

    .Furniture div:nth-child(2) > div:nth-child(1) > div > div:nth-child(2){
        height: auto;
        padding-bottom: 15px;
    } 
    .Furniture > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3),
    .Furniture > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(4),
    .Furniture > div:nth-child(2) > div:nth-child(1) > div > h2{
        display: none;
    }

    .Furniture > div:nth-child(2) > div:nth-child(1) > div ul{
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        margin-left: 15px;
    }
    .Furniture > div:nth-child(2) > div:nth-child(1) > div ul li{
        color: #A1662F;
        border-right: #000 1px solid;
        padding-right: 5px;
    }

    .Furniture > div:nth-child(2) > div:nth-child(1) > div ul li:nth-child(1){
        border-left: 1px solid #000;
        padding-left: 5px;
    } 

    .Furniture > div:nth-child(2) > div:nth-child(1) > div ul li:hover{
        color: #4d2a09;
    }

    .Furniture > div:nth-child(2) > div:nth-child(1) > div{
        background-color: #fff;
        border-bottom: 2px solid #A1662F;
        border-radius: 0;
    }
    .Furniture > div:nth-child(2) > div:nth-child(2) {
        width: 100%;
        height: auto;
    }


    .furniture-card:hover{
        margin: 25px 20px;
    }

    .Furniture > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
        height: 100%;
        overflow: hidden;
        display: block;
    }
}



    /* .Furniture > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(2){
        display: flex;
    } */

    /* .Furniture > div:nth-child(2) > div:nth-child(1) > div > h2,
    .Furniture > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3),
    .Furniture > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(4)
    {
        display: none;
    }  */