#dashboard{
    display: flex;
    width: 100%;
    height: 100vh;
}


#dashboard > div:nth-child(1){
    transition: 1s;
}

#dashboard > div:nth-child(2){
    transition: 1s;
}

#dashboard > div:nth-child(2) > div:nth-child(1){
    width: 100%;
    height: 13%;
}

#dashboard > div:nth-child(2) > div:nth-child(2){
    width: 100%;
    height: 87%;
}

.dashboard1{
    width: 85%;
}

.dashboard2{
    width: 97%; 
}

@media (max-width: 884px){
    .dashboard1{
        width: 80%;
    }
    
    .dashboard2{
        width: 95%; 
    }
}

@media (max-width: 430px){
    #dashboard > div:nth-child(2){
        width: 100%;
    }
}