.BestModels > h2{
    text-align: center;
    font-family: 'Lilita One', sans-serif;
    font-size: 35px;
    padding: 30px 0 50px;
    color: #A1662F;
}
.arrow{
    margin: auto 10px;
}

.arrow > span{
    padding: 10px 30px;
    background-color: #A1662F;
    border-radius: 50px;
    color: #4d2a09;
    font-size: 30px;
    cursor: pointer;
}


.box-card {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
}

.cards {
    width: 80%;
    display: flex;
    transition: transform 1s ease;
    margin: 0 auto;
    overflow: hidden;
}

.card {
    min-width: 50%;
    box-shadow: 0 0 10px #000;
    height: 90%;
    margin: auto 25px;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
}

.card > div{
    width: 100%;
    height: 100%;
    position: relative;
}

.card > div > img{
    width: 100%;
    height: 100%;
}


.card > div > div{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 100;
    transition: 1s;
    background-color: #000000a3;
}

.card > div > div > h2{
    color: #A1662F;
    font-family: 'Lilita One', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card > div > div > p{
    margin: 0 15px;
    font-size: 15px;
    color: #fff;
    font-family: 'Lilita One', sans-serif;
    margin-top: 5px;
}
.card > div > div > p span{
    margin: 0 5px;
}


.card:hover > div > div{
    opacity: 100;
    background-color: #000000a3;
    height: 80%;
}


@media (max-width: 884px){
    .card{
        min-width:80%;
        height: 90%;
    }

    .box-card{
        height: 30vh;
    }
}

@media (max-width: 430px){
    .BestModels > h2{
        font-size: 25px;
    }

    .card{
        min-width: 80%;
        height: 90%;
        box-shadow: 0 0 5px #000;
    }

    .arrow > span{
        padding: 5px 10px;
    }

    .box-card{
        height: 20vh;
    }

    .card > div > div > h2{
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .card > div > div > p{
        font-size: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}