.footer{
    background-color: #A1662F;
    width: 100%;
    /* height: 20vh; */
    display: flex;
    justify-content: center;
}

.footer-list{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


.footer-list:nth-child(3){
    width: 20%;
}

.footer-list:nth-child(5){
    width: 35%;
}

.footer-list:nth-child(5) > div > span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    color: #fff;
}

.footer-list > div{
    width: 80%;
    margin-top: 20px;
}

.footer-list > div > ul > li{
    list-style: none;
    font-size: 15px;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: #0000009b;
    display: flex;
}

.footer-list > div > ul > li > span{
    transition: all 1s ease;
    margin-left: 5px;
    color: #fff;
}

.footer-list > div > ul > li > span:hover{
    color: #0000009b;
    cursor: pointer;
    transition: all 1s ease;
}

.footer-list > div > p{
    color: #0000009b;
    font-size: 20px;
    font-family: 'Lilita One', sans-serif;
    text-align: center;
    border-bottom: #0000009b 3px solid;
}


.copyright{
    width: 15%;
    font-size: 13px;
    font-family: 'Lilita One', sans-serif;
    color: #0000009b;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 19px;
}

#copyright{
    display: none;
}

@media (max-width: 430px){
    .footer{
        display: block;
    }
    .footer-list,
    .footer-list:nth-child(3),
    .footer-list:nth-child(5) {
        width: 100%;
        margin: 0;
    }
    .footer-list:nth-child(3){
        width: 100%;
    }
    .copyright{
        display: none;
    }

    #copyright{
        display: block;
        width: 100%;
        font-size: 13px;
        font-family: 'Lilita One', sans-serif;
        color: #0000009b;
        margin-bottom: 19px;
        text-align: center;
        margin-top: 15px;
        padding-bottom: 10px;
    }
}