@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Yanone+Kaffeesatz:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
}

html{
    direction: ltr;
}

::-webkit-scrollbar {
    width: 8px;
}
   
::-webkit-scrollbar-thumb {
    background: #4d2a09; 
    border-radius: 50px;
}
  