@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Yanone+Kaffeesatz:wght@600&display=swap');

.Navbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #0000004b;
    z-index: 100;
}

.Navbar > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 50px;
}
.Navbar > ul:nth-child(2){
    display: none;
}


.Navbar ul > li{
    margin: auto 15px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: color 1s ease;
    color: #fff;
}

.Navbar ul > li:hover{
    color: #A1662F;
    transition: color 1s ease;
}

.Navbar ul > li:nth-child(1){
    margin: auto 30px auto 0;
}

.Navbar ul > li:nth-child(1) h2{
    color: #A1662F;
}
.Navbar ul > li:nth-child(1) svg{
    display: none;
}

/* A1662F */


@media (max-width: 430px){
    .Navbar ul:nth-child(2){
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        display: flex;
    }

    .Navbar ul:nth-child(2) > li:nth-child(2){
        font-size: 30px;
        color: #fff;
        transition: 0.5s;
    }

    .Navbar ul:nth-child(2) > li:nth-child(2):hover{
        color: #A1662F;
    }

    .Navbar ul:nth-child(1){
        height: 100vh;
        width: 60%;
        background-color: #A1662F;
        transition: 1s;
    }
    .Navbar ul:nth-child(1){
        display: none;
        /* display: block; */
    
    }
    .Navbar ul:nth-child(1) > li:nth-child(1){
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .Navbar ul:nth-child(1) > li:nth-child(1) svg{
        font-size: 30px;
        margin: 0 15px;
        color: #fff;
        display: block;
    }

    .Navbar ul:nth-child(1) > li:nth-child(1) svg:hover{
        color: #4d2a09;
    }

    .Navbar ul:nth-child(1) > li:nth-child(1) h2{
        color: #4d2a09;
        margin: 0 15px;
    }


    .Navbar ul:nth-child(1) > li{
        padding-top: 10px;
    }

    .Navbar ul:nth-child(1) > li:hover{
        color: #4d2a09;
    }
}